
/*remove arrows/spinners from input type number*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.error {
  color: #ff0000;
  font-weight: normal;
}

.navbar .nav-logo a.navbar-brand img {
  width: 132px;
  height: 51px;
}
.ms-auto { 
  position: relative;
  top: 75px;
  left: 98px;
  z-index: 99999;
} 